@blue: #2c7ea7;
@red: #ee0000;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 126px;
}

.fieldsContainer {
  margin-top: 54px;
}

.field {
  margin-bottom: 27px;
}

.label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  text-align: right;
}

.input {
  width: 100px;
  padding: 2px 5px;
  font-size: 20px;
}

.pagination {
  margin-top: 54px;
}

.button {
  display: inline-block;
  margin: 0 0 0 -1px;
  padding: 7px 15px;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:focus {
    outline: 0;
  }
}

.page {
  min-width: 60px;
}

.currentPage {
  background-color: @blue;
  color: white;
  cursor: default;
}

.hidden {
  visibility: hidden;
}

.footer {
  display: flex;
  flex-shrink: 0;
  margin-top: 90px;
  margin-bottom: 36px;
  height: 32px;
  line-height: 32px;

  img {
    margin-right: 5px;
    border-radius: 4px;
  }

  .love {
    color: @red;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: @blue;
  }
}
